<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard</title>
</head>

<body>

    <h1>Admin Dashboard</h1>

    <table border="1">

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Complaint</th>
            <th>Status</th>
            <th>Action</th>
        </tr>

        {% for complaint in complaints %}

        <tr>

            <td>{{ complaint[0] }}</td>
            <td>{{ complaint[1] }}</td>
            <td>{{ complaint[2] }}</td>
            <td>{{ complaint[3] }}</td>
            <td>{{ complaint[4] }}</td>

            <td>
                <a href="/resolve/{{ complaint[0] }}">
                    Resolve
                </a>
            </td>

        </tr>

        {% endfor %}

    </table>

    <br><br>

    <a href="/">
        Back To Home
    </a>

</body>

</html>