<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Admin Dashboard</h1>

    <table>

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Complaint</th>
            <th>Status</th>
            <th>Action</th>
        </tr>

        {% for complaint in complaints %}

        <tr>

            <td>{{ complaint[0] }}</td>
            <td>{{ complaint[1] }}</td>
            <td>{{ complaint[2] }}</td>
            <td>{{ complaint[3] }}</td>

            <td>
                {% if complaint[4] == "Resolved" %}
                    <span style="color:green;font-weight:bold;">
                        Resolved
                    </span>
                {% else %}
                    <span style="color:orange;font-weight:bold;">
                        Pending
                    </span>
                {% endif %}
            </td>

            <td>
                <a href="/resolve/{{ complaint[0] }}">
                    Resolve
                </a>
            </td>

        </tr>

        {% endfor %}

    </table>

    <br><br>

    <div style="text-align:center;">
        <a href="/logout">Logout</a>
    </div>

</body>

</html>