<!DOCTYPE html>
<html>
<head>
    <title>College Complaint System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Submit Complaint</h1>
    {% if message %}
<div style="
background:#d4edda;
color:#155724;
padding:12px;
border-radius:8px;
margin-bottom:15px;
text-align:center;
font-weight:bold;">
    ✅ Complaint Submitted Successfully
</div>
{% endif %}

    <form method="POST">

        <label>Category</label>

        <select name="category">

            <option>Hostel</option>
            <option>Library</option>
            <option>Transport</option>
            <option>Classroom</option>
            <option>Others</option>

        </select>

        <label>Complaint Description</label>

        <textarea name="description"
                  rows="5"
                  required></textarea>

        <button type="submit">
            Submit Complaint
        </button>

    </form>

    <br>

    <a href="/logout">Logout</a>

</div>

</body>
</html>