<!DOCTYPE html>
<html>

<head>
    <title>College Complaint Tracking System</title>
</head>

<body>

    <h1>College Complaint Tracking System</h1>

    <h2>Submit Your Complaint</h2>

    <form method="POST">

        <label>Name:</label><br>
        <input type="text" name="name" required><br><br>

        <label>Category:</label><br>

        <select name="category">
            <option>Hostel</option>
            <option>Library</option>
            <option>Transport</option>
            <option>Classroom</option>
            <option>Others</option>
        </select>

        <br><br>

        <label>Complaint:</label><br>

        <textarea name="description" rows="5" cols="40" required></textarea>

        <br><br>

        <button type="submit">
            Submit Complaint
        </button>

    </form>

    <br><br>

    <a href="/admin">
        View Admin Dashboard
    </a>

</body>

</html>